/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.1.2014, 23:21:51
    Author     : Mikko
*/

body {
    background-color:#000109;
    color:#cccccc;
}
li {
    font-weight: normal;
}
.credits_title {
    font-weight: bold;
}
.credit {
    font-weight: bold;
}
#content {
    width:100%;
    text-align: center;
}
#enchant-stage {
}